

.contact-form-main{
    .contact-form-left{
        padding: 30px;
        border: 1px solid rgba(0, 0, 0, 0.1);

        .address{
            .all-partners{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 5px;
                .email{
                    padding: 3px 0;
                    display: flex;
                    align-items: center;
                    span{
                        line-height: 0;
                        margin-left: 0px;
                        margin-right: 8px;
                    }

                }
                .phone{
                    padding: 3px 0;
                    display: flex;
                    align-items: center;
                    span{
                        line-height: 0;
                        margin-right: 8px;
                    }
                }
            }

        }
        .all-partners{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;
            margin-top: 25px;
            .contact-info{

                padding: 15px;
                .name{
                    padding: 3px 0;
                }
                .email{
                    padding: 3px 0;
                    display: flex;
                    align-items: center;
                    span{
                        line-height: 0;
                        margin-left: -2px;
                        margin-right: 8px;
                    }

                }
                .phone{
                    padding: 3px 0;
                    display: flex;
                    align-items: center;
                    span{
                        line-height: 0;
                        margin-right: 8px;
                    }
                }
            }
        }
    }
    .contact-form-right{
        .form-control {
            display: block;
            width: 100%;
            padding: 1rem;
            border-radius: 0;
            &:focus{
                outline: none;
                box-shadow: none;
            }
            &.message{
                min-height: 150px;
            }
        }
    }
}

.section-map{
    .google-map {
        line-height: 0;
    }
}

