.industry-slider{
    line-height: 0;
    .industry-card{
      position: relative;

      overflow: hidden;
      &:before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top right, #000, #222, #666); /* Gradient from black (bottom-left) to light gray (top-right) */
        left: 0;
        top: 0;
        opacity: 0.3;
        z-index: 1;
      }
      .industry-thumbnail-main{
        overflow: hidden;
        line-height: 0;

          .industry-thumbnail{

            width: 100%;
            height: 100%;
            transition: transform var(--transition-duration-thumbnail);
          }
      }
      &:hover{
        .industry-thumbnail-main{
          .industry-thumbnail {
            transform: scale(1.04);
          }
        }
      }
      .ind-details{
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 3;
        h3{
          color: var(--clr-white);
          max-width: 120px;
        }
      }
    }
  .custom-swipers-buttons{
    display: flex;
    justify-content: end;
    max-width: 1440px;
    margin: 25px auto 0 0;
    @media only screen and (max-width: 1199px) {
      margin-top: 15px;
    }
    @media only screen and (max-width: 767px) {
      margin-top: 15px;
    }
    .custom-prev {
      margin-right: 10px;
    }
    .custom-next,
    .custom-prev {
      button {
        height: 40px;
        width: 40px;
        border: 1px solid var(--color-red);

        background-size: 24px;
        background-color: transparent;
        transition: all 0.2s ease;
        cursor: pointer;

        // Icon inside the button
        i {
          transition: all 0.2s ease;
          color: var(--color-red);
        }

        &:focus {
          outline: none;
          box-shadow: none;
        }

        &:hover {
          background-color: var(--bg-red);
          i {
            color: var(--clr-white);
          }
        }

      }
    }
    .custom-next{
      //.next-button{
      //  background: url('/assets/img/common/next.svg') no-repeat center center;
      //  height: 40px;
      //  width: 40px;
      //  border: 1px solid red;
      //
      //  background-size: 24px;
      //  transition: all 0.3s ease;
      //  &:hover{
      //    background-color: var(--bg-red);
      //    filter: brightness(0) invert(1);
      //  }
      //}
    }
  }
}
