.section-home-banner{
  position: relative;
  overflow: hidden;
  &:before{
    content: '';
    position: absolute;
    height: 100%;
    width: 50%;
    right: -25%;
    border-radius: 99em;
    background-color: #f2f2f2;
  }
  .banner-imgs{
    position: relative;
    z-index: 2;
    img{
      position: absolute;
      left: 1vw;
      right: 0;
    }
  }
}