.team-details-main{
    .team-card {
        padding: 15px;
        border: 1px solid rgba(255, 255, 255, 0.1);

        transition: box-shadow var(--transition-duration);
        margin-bottom: 30px;
  &:hover {
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
        }
  .team-thumbnail {
          overflow: hidden;
          line-height: 0;

    .team-card-image {

            width: 100%;
            height: 100%;
            transition: transform var(--transition-duration-thumbnail);
          }

        }
        &:hover{
            .team-thumbnail{
                .team-card-image {
                    transform: scale(1.04);
                }
            }
        }
    .team-details {
          padding: 15px;
          border: 1px solid rgba(255, 255, 255, 0.1);

          margin-top: var(--card-border-radius);
          h4 {
            font-size: 24px;
            font-weight: 500;
            color: #000;
            margin-bottom: 8px;
          }
    p {
            font-size: 18px;
            color: rgba(0, 0, 0, 0.8);
            margin-bottom: 12px;
          }
  }
      }
}



.tech-details-main{
    .tech-details{  
        position: relative;
        border-left: 4px solid var(--bg-red);
        margin-bottom: 15px;
        padding: 5px 15px;
        &:last-child{
            margin-bottom: 0;
        }
    }
}